repos:
- repo: https://github.com/sqlalchemyorg/zimports/
  rev: 0.2.0
  hooks:
  - id: zimports
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
- repo: https://github.com/zifeo/pre-commit
  rev: v0.1.3
  hooks:
  - id: poetry-tag-checker
  