repos:
- repo: https://github.com/sqlalchemyorg/zimports/
  rev: v0.4.3
  hooks:
  - id: zimports
- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8

  