[tool.poetry]
name = "dataconf"
version = "2.0.0"
description = "Simple dataclasses configuration management for Python with hocon/json/yaml/properties/env-vars/dict support."
authors = []
license = "Apache2"
readme = "README.md"
repository = "https://github.com/zifeo/dataconf"
include = [
    "dataconf", "pyproject.toml"
]
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.scripts]
dataconf = 'dataconf.cli:run'

[tool.poetry.dependencies]
python = "^3.8"
pyhocon = "^0.3.59"
python-dateutil = "^2.8.2"
PyYAML = "^6.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pre-commit = "^2.20.0"
commitizen = "^2.29.2"
pytest-httpserver = "^1.0.5"

[tool.commitizen]
name = "cz_conventional_commits"
version = "2.0.0"
tag_format = "v$major.$minor.$patch$prerelease"
version_files = [
    "pyproject.toml:version",
    "dataconf/version.py"
]

[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"
