[tool.poetry]
name = "dataconf"
version = "1.3.0"
description = "Simple dataclasses configuration management for Python with hocon/json/yaml/properties/env-vars/dict support."
authors = []
license = "Apache2"
readme = "README.md"
repository = "https://github.com/zifeo/dataconf"
include = [
    "dataconf", "pyproject.toml"
]
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.scripts]
dataconf = 'dataconf.cli:run'

[tool.poetry.dependencies]
python = "^3.8"
pyhocon = "^0.3.54"
python-dateutil = "^2.8.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pre-commit = "^2.3.0"
commitizen = "^2.21.2"

[tool.commitizen]
name = "cz_conventional_commits"
version = "1.3.0"
version_files = [
    "pyproject.toml:version",
    "dataconf/__version__.py"
]

[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"
